@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-[#16161D] text-white;
    }
}

@layer components {
    .spacing {
        @apply py-32 px-12 md:px-24;
    }
    .navBtn {
        @apply  h-6  cursor-pointer hover:scale-110 transition-all duration-150 ease-out;
    }

    .btn {
        @apply h-7 hover:scale-110 cursor-pointer transition-all duration-150 ease-out hover:text-red-500;
    }

    .menu__item{
        @apply mx-auto my-[10vh] text-[1.2rem] w-fit text-[#7a7b78]  transition duration-200 hover:text-[#cdcdcc];
    }

    .menu-secondary-background-color{
        @apply bg-orange-500 top-0 left-0 right-0 bottom-0 fixed h-full w-full -z-10;
    }

    .preloader-overlay{
        @apply fixed top-0 left-0 w-full h-full translate-x-[-100%];
    }



}

.loader-wrap{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.loader-wrap svg{
    position: absolute;
    width: 100vw;
    height: 110vh;
    fill: #040303;
}
.loader-wrap-heading h1{
    font-size: 8vw;
    font-weight: 600;
    z-index: 20;
    color: #e0e0e0;
}


.container h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 767px){
    .loader-wrap svg{
        width: 200vw;
        margin-left: -50vw;
    }
    .loader-wrap .loader-wrap-heading, .container h1{
        font-size: 60px;
    }
}